@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap");
/* ⚡ esse @import abaixo nem precisa, o Tailwind já está instalado pelo postcss.config.js
   mas se quiser usar, deixe também no topo */
@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root,
.app,
.content {
  height: 100%;
  width: 100%;
  font-family: "Source Code Pro", sans-serif;
}

.app {
  display: flex;
  position: relative;
}
